@page "/customlogin"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<h3>Custom Login</h3>
@if (isInitialized)
{

    <p>@errorMessage</p>
}

@code {
    private string errorMessage = string.Empty;
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        var existingUser = await UserManager.FindByNameAsync("Admin");
        if (existingUser == null)
        {
            var user = new IdentityUser
                {
                    UserName = "Admin"
                };
            var result = await UserManager.CreateAsync(user, "Admin@000");

            if (result.Succeeded)
            {
                await SignInManager.SignInAsync(user, isPersistent: false);
                isInitialized = true;
                //NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = result.Errors.FirstOrDefault()?.Description;
            }
        }
        else
        {
            await SignInManager.SignInAsync(existingUser, isPersistent: true);

            errorMessage = "User 'Admin' already exists!";
        }
    }
}
