@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<!-- Conditionally display content -->
<AuthorizeView>
    <Authorized>
        <!-- Content for authenticated users goes here -->
        <p>Welcome!</p>
    </Authorized>
    <NotAuthorized>
        <p>Guest! Please Login</p>
    </NotAuthorized>
</AuthorizeView>